<div class="col s12 m6 offset-m3">
  <p class="flow-text">Welcme to your account</p>
  Name: {{ authData.displayName }} <br/>
  Email: {{ authData.email }}<br>
  Unique ID: {{ authData.uid }} <br>
  Photo: <br>
  <img ng-src="{{ authData.photoURL }}">
</div>