<div class="col s12 m6 offset-m3" ng-controller="AuthController">
    <h4 class="flow-text center-align">Login with</h4>
    <div class="button-group center-align">
        <a class="btn waves-effect waves-light red" ng-click="googleAuth()" class="success">Google</a>
        <a class="btn waves-effect waves-light blue" ng-click="facebookAuth()">Facebook</a>
    </div>
</div>
