<div class="col s12 m6">
    <div class="row">
        <form class="col s12" ng-submit="addReport()">
            <p class="flow-text center-align">Add Report Today</p>
            <div class="row">
                <div class="input-field col s6">
                    <input id="hours" type="number" ng-model="reportData.hours" class="validate">
                    <label for="hours">Hours</label>
                </div>
                <div class="input-field col s6">
                    <input id="literature" type="number" ng-model="reportData.literature" class="validate">
                    <label for="literature">Literature given</label>
                </div>
                <div class="input-field col s6">
                    <input id="videos" type="number" ng-model="reportData.videos" class="validate">
                    <label for="videos">Videos shown</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="remarks" class="materialize-textarea" ng-model="reportData.remarks"></textarea>
                    <label for="remarks">Remarks</label>
                </div>
                <div class="input-field col s12">
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col s12 m6">
    <div class="row">
        <p class="flow-text center-align">Bible Studies</p>
        <div class="progress" ng-show="!students.length">
            <div class="indeterminate"></div>
        </div>
        <form class="col s12" ng-submit="studentChange(student.name)" ng-show="students.length">
            <div class="input-field col s10">
                <select class="browser-default" ng-model="student.name">
                    <option value="" disabled selected>Choose a student</option>
                    <option ng-repeat="item in students" value="{{ item.$id }}"> {{ item.name }} </option>
                </select>
            </div>
            <div class="input-field col s2">
                <button type="submit" class="btn-floating waves-effect waves-light small blue"><i class="material-icons">search</i></a>
            </div>
        </form>
    </div>
    <div class="row">
        <p class="flow-text center-align">
            A student chosen will show up here
        </p>
        <div class="card" ng-show="studentDetail">
            <div class="card-content">
                <span class="card-title">{{ studentDetail.name }}</span>
                <p>Return Visits this Month: 50</p>
                <div class="row">
                    <form class="col s12" ng-submit="studentReturns()">
                        <div class="input-field col s8">
                            <input id="phone" type="number" ng-model="student.returns" class="validate">
                            <label for="phone">Return Visit</label>
                        </div>
                        <div class="input-field col s4">
                            <button type="submit" class="btn-floating waves-effect waves-light small blue"><i class="material-icons">search</i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 2, // Creates a dropdown of 15 years to control year
        formatSubmit: 'mm/dd/yyyy'
    });
});
</script>
