<div class="row" ng-controller="MenuController">
    <div class="col s12 m6 offset-m3">
        <a ui-sref="home" class="btn blue"><i class="material-icons">home</i></a>
        <a class='dropdown-button btn blue' data-activates='mymenu'>Menu</a>
        <ul id='mymenu' class='dropdown-content'>
            <li><a ui-sref="students">Students</a></li>
            <li class="divider"></li>
            <li><a href="#!">Report</a></li>
        </ul>
        <a class="btn blue" ui-sref="login" ng-show="!loggedIn">Login</a>
        <a class='dropdown-button btn blue' data-activates='account' ng-show="loggedIn">Account</a>
        <ul id='account' class='dropdown-content'>
            <li><a ui-sref="account">Account</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
});
</script>
