<div class="col s12 m6 offset-m3">
    <a ui-sref="studentAdd" class="btn waves-effect waves-light">New student</a>
    <ul class="collection">
        <li class="collection-header">
            <h4 class="flow-text center-align">List of Students</h4></li>
        <div class="progress" ng-show="!students.length">
            <div class="indeterminate"></div>
        </div>
        <li class="collection-item avatar" ng-repeat="item in students">
            <i class="material-icons circle">folder</i>
            <span class="title">{{ item.name }}</span>
            <p>{{ item.phone }}
                <br> {{ item.address }}
                <br> {{ item.remarks }}
            </p>
            <a ui-sref="student({studentId: item.$id })" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
    </ul>
</div>
