<div class="col s12 m6 offset-m3">
    <p class="flow-text center-align">Student Details</p>
    <div class="progress" ng-show="!student">
        <div class="indeterminate"></div>
    </div>
    <div class="row" ng-show="student">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ student.name }}</span>
                    <p class="flow-text">{{ student.address }}</p>
                    <p>{{ student.remarks }}</p>
                </div>
                <div class="card-action">
                    <a href="tel:{{ student.phone }}">Call: {{ student.phone }}</a>
                </div>
            </div>
        </div>
        <form class="col s12" ng-submit="updateStudent()">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">edit</i>Update student</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" ng-model="student.name" class="validate">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="address" class="materialize-textarea" ng-model="student.address"></textarea>
                                <label for="address">Address</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input id="phone" type="number" ng-model="student.phone" class="validate">
                            <label for="phone">Phone Number</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="remarks" class="materialize-textarea" ng-model="student.remarks"></textarea>
                            <label for="remarks">Remarks</label>
                        </div>
                        <div class="input-field col s12">
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.collapsible').collapsible({
        accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
});
</script>
