<div class="col s12 m6 offset-m3">
    <form class="col s12" ng-submit="addStudent()">
        <p class="flow-text">New student</p>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" ng-model="student.name" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="address" class="materialize-textarea" ng-model="student.address"></textarea>
                <label for="address">Address</label>
            </div>
        </div>
        <div class="input-field col s12">
            <input id="phone" type="number" ng-model="student.phone" class="validate">
            <label for="phone">Phone Number</label>
        </div>
        <div class="input-field col s12">
            <textarea id="remarks" class="materialize-textarea" ng-model="student.remarks"></textarea>
            <label for="remarks">Remarks</label>
        </div>
        <div class="">
            <button type="submit" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
    </form>
</div>
